[core]
	excludesfile = /Users/wojciechko/.gitignore
	editor = vim

[diff]
	compactionHeuristic = true

[commit]
  template = ~/.gitmessage

[include]
  path = ~/.gitkurwa_config
  path = ~/.gitconfig_local
