[include]
  path = ~/.gitkurwa_config
  path = ~/.gitconfig_local

[core]
  excludesfile = ~/.gitignore
  editor = vim

[diff]
  compactionHeuristic = true

[push]
  default = simple

[branch]
  autosetupmerge = always
  autosetuprebase = always

[rerere]
  enabled = true
  autoupdate = true

[alias]
  diffs = diff --staged
  hub = log --all --pretty=format:'%Cred%h %Cblue%ai %Creset%s' --abbrev-commit --author='Wojciech Korzeniowski' --author-date-order

[commit]
  gpgsign = true
